@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
::-webkit-scrollbar {
    width: 6px !important;

}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0) !important;
}

::-webkit-scrollbar-thumb {
    background: #3d7bbe !important;
}
*{
	margin: 0;
	padding: 0px,50px;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background-image:url(./todo-back4.png);
    background-size: cover;
    height:90% ;
	
}
.container{
	position: relative;
	max-width: 800px;
	padding: 10px;
	margin: 50px auto;
}
.addTask{
	width: 100%;
	display: flex;
	padding: 80px 0;
}
.addTask > input[type="text"]{
	width: 90%;
	color: #3d7bbe;
	border:none;
	border-bottom: 2px solid #3d7bbe;
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.addTask button{
	margin: 0 10px;
	background: #262525;
	color: #3d7bbe;
	font-size: 18px;
	text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.notCompleted, .Completed{
	margin: 5px 0;
	padding: 20px;
}
h3{
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	color: #3d7bbe;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ol{
	list-style: none;
	counter-reset: my-counter;
}
ol li{
	width: 100%;
	padding: 18px;
	margin: 5px 0;
	background: #bb0a0abb;
	font-size: 22px;
	counter-increment: my-counter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ol.Completed li{
	background: #0b642d;
}
ol li::before{
	content: counter(my-counter);
	background: #3d7bbe;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: #fff;
	margin-right: 0.5rem;
}
li button{
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
